/*--------------------------------------------------------------
# Custom Stylesheet
--------------------------------------------------------------*/
img { max-width: 100%; }

.padd-1 { padding: 1%; }
.padd-10 { padding: 10px; }
.padd-20 { padding: 20px; }
.padd-30 { padding: 30px; }
.padd-40 { padding: 40px; }

.ptb-10 { padding-top: 10px; padding-bottom: 10px; }
.ptb-15 { padding-top: 15px; padding-bottom: 15px; }
.ptb-20 { padding-top: 20px; padding-bottom: 20px; }
.ptb-30 { padding-top: 30px; padding-bottom: 30px; }
.ptb-40 { padding-top: 40px; padding-bottom: 40px; }
.ptb-50 { padding-top: 50px; padding-bottom: 50px; }
.ptb-60 { padding-top: 60px; padding-bottom: 60px; }
.ptb-80 { padding-top: 80px; padding-bottom: 80px; }
.ptb-100 { padding-top: 100px; padding-bottom: 100px; }

.pb-10 { padding-bottom: 10px; }
.pb-20 { padding-bottom: 20px; }
.pb-30 { padding-bottom: 30px; }
.pb-40 { padding-bottom: 40px; }

.prl-1 { padding-right: 1%; padding-left: 1% }
.prl-10 { padding-right: 10px; padding-left: 10px }
.prl-15 { padding-right: 15px; padding-left: 15px }
.prl-20 { padding-right: 20px; padding-left: 20px }

.mb-0 { margin-bottom: 0px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-60 { margin-bottom: 60px; }
.mb-80 { margin-bottom: 80px; }

.mrl-0 { margin-left: 0; margin-right: 0; }

.font-f1f1f1 { color: #f1f1f1; }

.btn-template { background: #f27300; color: white; }
.btn-template:hover { background: #fff; color: #f27300; }

.bb-3 { border-bottom: 3px solid #ddd; }
.text-sub { font-size: 10pt; color: #666; }
.box-shadow-1 { box-shadow: 2px 2px 10px #333; }
.vertical-center {
    display: flex;
    align-items: center;
} 
.align-center { text-align: center; }
.align-right { text-align: right; }

.float-right {
    float: right;
}

/* Index */
#section-about .about-item {
    padding: 0px 15px;    
}
#section-about .item-content {
    border-top: 3px solid #ddd;
    padding: 30px 0px;    
}

#jumbotron { background: #123e63; padding: 20px; }
#jumbotron-inner { 
    padding: 20px;
    color: #ddd; 
}
#jumbotron h1 { letter-spacing: 2px; font-size: 48px; }
#jumbotron .btn { font-size: 20px; color: #202020; }
#jumbotron .btn:hover { background: #ddd; border-color: #ddd; }

/* Program */
.philosophy-item { padding: 0 10px; }
.philosophy-inner {
    border-top: 2px solid #ddd; padding: 30px 10px;
}

/* Partner */
.collaborate-item img { border-radius: 4px; }
.collaborate-item p { font-size: 11pt; }

#section-form .form-row {
    background: #f1f1f1;
} #section-form .form-left {
    padding: 40px 20px;
} #section-form .form-right {
    background: white; padding: 0 20px;
} .form-right button { float: right; }

/* Header */
#apply-btn { float: right; }

/* Footer */
#section-footer {
    background: #f1f1f1; font-size: 11pt;
}
#section-footer #footer-upper {
    padding-bottom: 20px;
} #footer-upper button {
    float: right; font-size: 11pt;
} #footer-upper button:hover { background: #f27300; color: white; }
#footer-upper ul { list-style-type: none; } 
#footer-upper li { margin-bottom: 20px; }
#footer-upper li:hover { cursor: pointer; color: #f27300; }
#section-footer #footer-lower {
    padding-top: 20px;
    border-top: 2px solid #ddd;
}